*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./Images/black_woven_seamless_tile.jpg) !important;
}

a{
    text-decoration: none;
    color: black;
}

.button_red{
    background-color:#e54343 !important ;
    color: white !important;
}

.active{
    color: #e54343 !important;
   
    font-weight: 700 !important;
 }


.main_container{
    max-width: 450px;
 margin: 0 auto;

}

.section_body{
    width: auto;
    height: auto;
background-color: #0044FF;
border-radius: 10px;
margin-bottom: 10px;
padding: 5px;

}

.card_border{
    -webkit-box-shadow: 1px 1px 5px 1px #0F0F0F; 
    box-shadow: 1px 1px 5px 1px #0F0F0F;
    border-radius: 10px;
}

.section_box{
    -webkit-box-shadow: 1px 1px 5px 1px #0F0F0F; 
    box-shadow: 1px 1px 5px 1px #0F0F0F;
    border-radius: 10px;
    background-color: white;
 
}

.section_header{
    padding: 20px ;
    font-weight: 700;
    color: #2d427d;
}


/************************** view_card / card_section  ************************/


hr{
    margin: 0;
}


.card_image{
    min-height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
}



.card_image img{
    width: 100%;
       height: 100%;
       max-height: 400px;
        overflow-x: hidden;
    border-radius: 10px;
        background-size: cover;
}

.card_header{
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.save_card i{
    font-size: 2rem;
    padding: 15px;
    border-radius: 50%;
    background-color: #e54343;
    color: white;
}



.social_button{
    padding:10px;
}

.card_contact{
    display: flex;
    justify-content: space-between;
    padding: 10px;
 
}

.contact_box{
    width: 20%;
}

.contact_box i{
    width: a;
    height: auto;
    color: white;
    border:1px solid;
    background-color: #766df4;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

.contact_box a{
    color: #000; 
    font-weight:500 ;
    text-decoration: none;
 
    
}

.contact_box a:hover{
    color: #766df4; 

}

.contact_box a:hover i{
    color: #766df4;
 
  
    background-color: white;
}
.share_section{
    position: relative;
    
}

.share_section .btn_share{
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: #e54343;
    color: white;
  
}

.share_section .btn_share:hover{

    background-color: #e54343;

  
}

.contact_info_box a{
    background: linear-gradient(to right, #e54343 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
   margin: 10px;
}


.contact_info a{
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 20px;

}

.contact_info_box i{
   margin-right: 10px;
    font-size: 20px;
    color: white;
    max-height: 39px;
    width: auto;
   
    background-color: #e54343;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s;
      
  
}




.contact_info_box a:hover {
    background-position: left bottom;
    color: white;
  }

  #addtess_text{
      padding: 0 5px;
  }

  
 .btn_close{
   
  
    width: 100%;
    padding: 10px;

    background-color: #e54343;
    color: white;
    
  
}

/*   
  .share_section:hover .share_screen {
    height: 300px;
  } */
  

  .modal-dialog{
    max-width: 400px;
}

/* Allow Background Scroll on modal Open */
.modal-open { overflow-y: auto; }


.share_input{
    display: flex;
    justify-content: space-between;
}
.share_input input{
    width: 50%;
    padding-left:5px ;
}

.share_input a{
    width: 40%;
  margin-left: 10px;
    text-decoration: none;
    background-color: #128C7E;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;

    
}

.share_input i{
  
    padding-right: 5px;
} 


.share_social{
    text-align: center;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around; 
}

ul.share_social li {
    display: inline-block;
    margin: 2px;
}

  
ul.share_social li a {
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    font-size: 1.7rem;
    -webkit-box-shadow: 1px 1px 5px 1px #0F0F0F; 
    box-shadow: 1px 1px 5px 1px #0F0F0F;
    background-color: white;
    transition: all 0.3s;
}




/* Social media buttons */
/***************** social media button(all page) **************/
  
ul.social-buttons {
    text-align: center;
    margin-top: 10px;
    padding: 0;
  }
  
  ul.social-buttons li {
    display: inline-block;
    margin: 0 5px;
  }
  
  ul.social-buttons li a {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    -webkit-box-shadow: 1px 1px 5px 1px #0F0F0F; 
    box-shadow: 1px 1px 5px 1px #0F0F0F;
    background-color: white;
    transition: all 0.3s;
  }
  
  ul li a.icon_whatsApp {
    color: #128C7E;
}

ul li a.icon_telegram {
    color: #0088cc;
}

  
ul li a.icon_facebook {
    color: #4267B2;
}

ul li a.icon_instagram {
  color: #E1306C;
}

ul li a.icon_twitter {
   color: #1DA1F2;
}

ul li a.icon_linkedin {
 color: #2867B2;
}

ul li a.icon_youtube {
 color: red;
}
  
ul li a.icon_whatsApp:hover {
    color: #fff;
    background-color: #128C7E;
}

ul li a.icon_telegram:hover {
    background-color: #0088cc;
    color: #fff;
  
}

ul li a.icon_default {
    color: #2867B2;
}

ul li a.icon_default:hover {
   background-color: #2867B2;
   color: #fff;
}

  
ul li a.icon_facebook:hover {
    background-color: #4267B2;
    color: #fff;
}

ul li a.icon_instagram:hover {
    background-color: #E1306C;
    color: #fff;
}

ul li a.icon_twitter:hover {
    background-color: #1DA1F2;
    color: #fff;
}

ul li a.icon_linkedin:hover {
    background-color: #2867B2;
    color: #fff;
}

ul li a.icon_youtube:hover {
    background-color: red;
    color: #fff;
}
  


/*********************** About_us / about_section ************************/

.brief_info tr,td{
    padding: 2px 5px;
    font-size: 1rem;
    font-weight: 500;
}



.facts_card
{
    height: auto;
    padding: 10px 0;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 1px #0F0F0F; 
    box-shadow: 1px 1px 5px 1px #0F0F0F;
    margin-bottom: 10px;
    text-align: center;
} 


/************ gallery_section ***********************/


.img_column {
    float: left;
    width: 25%;
    padding: 5px;
    
}

.img_column img {
    opacity: 0.8; 
    cursor: pointer; 
    height: 120px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 1px #766df4; 
    box-shadow: 1px 1px 5px 1px #766df4;
 
}
  
  .img_column img:hover {
    opacity: 1;
    
    transform: scale(1.05);
    transition-duration: .3s;
    
  }
  

  .img_container {
  
    padding: 10px;
    text-align: center;
  }

  .img_container img{

      max-width: 90%;
      max-height: 300px;
      border-radius: 10px;
      -webkit-box-shadow: 1px 1px 5px 1px #766df4; 
    box-shadow: 1px 1px 5px 1px #766df4;

      
  }

  .youtube_card{
      margin: 10px auto;
      padding: 10px;
   width: 90%;

      border-radius: 10px;
      -webkit-box-shadow: 1px 1px 5px 1px #766df4; 
    box-shadow: 1px 1px 5px 1px #766df4;
 
  }

 

/******************* Contact_Us  / Contact_section ******************/

.contact_form{
   
    margin: 10px;
}

.contact_form_box{
    background-color: #cfdffe;
    padding: 10px;
    border-radius: 10px;
}

.form_group{
    display: flex;
    text-align: left;
    flex-direction: column ;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    
}

.form_group label{
    font-size: 20px;
    font-weight: 400;

}

.form_group input,textarea{
    padding: 5px 10px;
    height: auto;
    border-radius: 5px;
    outline: none;
    border: 2px solid #ced4da;
    resize: none;
}

.form_group.success input,.form_group.success textarea{
    border-color:  #2ecc71;

}

.form_group.error input, .form_group.error textarea{
    border-color:  #FF3E0B;
}

.form_group span{
    position: absolute;
    bottom: -25px;
    left: 10px;
    color:  #FF3E0B;
    display: none;
}

.form_group i{
    position: absolute;
    right: 10px;
    top: 40px;
    color: #2ecc71;
    display: none;    
}

.form_group i.fa-check-circle{

    color: #2ecc71;
}

.form_group i.fa-exclamation-circle{
    color:  #FF3E0B;
}


.form_group.success i.fa-check-circle{
    display: block;
    
}

.form_group.error i.fa-exclamation-circle{
    display: block;
    
}

.form_group.error span.errorMsg{
    display: block;
    
}



.contact_section_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    
}

.contact_section_top a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;

}

.contact_section_map{
 margin-bottom: 10px;
    width: 90%;
}


/*************************** services_section ********************/

.service_card{
    width: 90%;
 padding: 10px;
    border: 1px solid;
    margin: 20px auto;
    -webkit-box-shadow: 1px 1px 5px 1px #0F0F0F; 
    box-shadow: 1px 1px 5px 1px #0F0F0F;
    border-radius: 10px;
    position: relative;
 
}

.service_card:hover{

    transform: scale(1.05);
    transition-duration: .3s;
 
}

.service_card i{
    margin: 10px;
}



/***************************** payment_section ********************/

.payment_header{
 
    background-color: #e54343;
    color: white;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 10px;
}



.payment_card{

    width: 100;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid;
    height: auto;
    -webkit-box-shadow: 1px 1px 5px 1px #0F0F0F; 
    box-shadow: 1px 1px 5px 1px #0F0F0F;
    border-radius: 10px;
    position: relative;
 
}

.payment_card table{
    margin: 0 auto;
}

.payment_card table tr td{
   padding: 2px 5px;
}



.bank_details{
    border:1px solid;
    padding: 10px;
    margin: 10px;
   
 
}

.bank_logo img{
    max-width: 80%;
    height: 60px;
}

.paytm_scan{
    width: auto;
    height: auto;
}








.share_wrapper{
    padding: 10px;
    background-color: red;
}


/***************** products_section *************/

.product_section{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.product_card{
    width: 48%;
    padding: 5px;
    border: 1px solid;
    margin: 5px auto;

    -webkit-box-shadow: 1px 1px 5px 1px #0F0F0F; 
    box-shadow: 1px 1px 5px 1px #0F0F0F;
    border-radius: 10px;
    position: relative;
}

.product_card:hover{

    transform: scale(1.02);
    transition-duration: .5s;
 
}

.product_image img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.product_info{
    text-align: left;
}

.offer_tag{
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
    
}
.offer_tag span {
    background-color: #ed3939;
    padding: 0 10px;-webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}


.new_amount{
    font-size: 20px;
    font-weight: 500;
}


.old_amount{
    font-size: 15px;
    font-weight: 200;
    padding-left: 10px;
}

/***************** Copyright_section ********************/

.copyright_Section
{
text-align: center;
margin-bottom: 75px;
background-color: white;
border-radius: 5px;
padding: 10px;
}

.copyright_Section a{
    font-size: 1.1rem;
    font-weight: 500;
}

/**************************** Footer_section *************************/

.footer_section{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-color: white;
    padding: 10px;
    overflow: auto;
    padding-bottom: 15px;
    box-shadow: -1px -4px 6px -2px rgba(0,0,0,0.68);
    -webkit-box-shadow: -1px -4px 6px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: -1px -4px 6px -2px rgba(0,0,0,0.68);
}
.footer_section a{
    min-width: 85px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #2d427d;
    font-weight: 600;
    transition: all 0.5s;
}

.footer_section a:hover{
    color: #e54343 !important;
   
    font-weight: 700 !important;
}


 


@media (max-width: 767px) {
    .footer_section{
        padding-bottom: 10px;
    }
    .copyright_Section{
        margin-bottom: 60px;
    }
    .product_card{
        width: 90%;
    }
    .section_header{
        padding: 10px ;
    }
   
}

